################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApplication1/bin
/WebApplication1/obj
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
