<?xml version="1.0" encoding="utf-8"?>
<!--
    在下例中，“SetAttributes”转换将更改 
    “connectionString”的值，以仅在“Match”定位器 
    找到值为“MyDB”的特性“name”时使用“ReleaseSQLServer”。
 utes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

</configuration>
